.header hr {
    border: none;
    block-size: 3px;
    background-color: rgb(0, 153, 255);
    margin: 0;
}

.header__container {
    margin: 0;
    display: flex;
    background: rgb(50, 50, 50);
    justify-content: space-between;
}

.header__right {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0;
}

.header__right__option {
    margin-right: 10px;
    margin-left: 10px;
    color: #fff;
}

.header__right a {
    margin: 0;
    text-decoration: none;
}

.header__right a {
    text-decoration: overline;
    color: rgb(50, 50, 50);
}

.header__right__ham {
    display: none;
}
.header__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.header__logo img {
    margin: 4px 0px 10px 0px;
    height: 41px;
    width: 41px;
}

.header__right__hidden {
    display: initial !important;
    left: 200px;
}

.header__right a:hover {
    border-radius: 0px 0px 5px 5px;
    color: rgb(50, 50, 50);
    padding: 16.5px 0;
    background-color: rgb(0, 153, 255);
}
.header__right__ham button{
    background-color: rgb(50, 50, 50);
    color: rgb(0, 153, 255);
    border-radius: 4px;
background: #323232;
box-shadow: inset 5px -5px 10px #282828,
            inset -5px 5px 10px #3c3c3c;
}.title{
    color: #fff;
    margin: 0px;
}
/* 450px */
@media only screen and (max-width: 650px) {
    .header__container {
        margin: 0;
        display: block;
        justify-content: left;
    }

    .header__container {
        margin-right: 0px;
    }

    .header__right {
        margin-top: -44px;
        align-items: flex-end;
        flex-direction: column;
    }

    .hide {
        display: none;
    }

    .header__right__ham {
        display: initial;
        padding-bottom: 10px;
    }

    .header__container .header__right__ham {
        justify-content: flex-end;
        display: flex;
        align-items: center;
        flex-direction: row;
        margin: 10px;
    }

    .header__right__option {
        display: none;
    }

    .header__right a:hover {
        border-radius: 5px 0px 0px 5px;
        color: rgb(50, 50, 50);
        padding: 5px 0;
        background-color: rgb(0, 153, 255);
    }

    .header__right a {
        text-decoration: none;
        padding-top: 10px;
    }.menuIcon{
        margin-top: -60px;
    }.title{
        display: none;
    }.header__logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }.header__logo img {
        margin: 20px 0px 0px 0px;
        height: 41px;
        width: 41px;
    }
}